<a href="https://colab.research.google.com/github/Jihyun13579/ESAA/blob/main/Do_it!_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%9E%85%EB%AC%B8_pg_241~_242%2C_256~263_%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Do it! 데이터 분석을 위한 판다스 입문 pg. 241~ 242, 256~263 필사

## CH12. 시계열 데이터
: 일정 시간 간격으로 어떤 값을 기록한 데이터(ex. 날씨 관측 데이터, 빌보드 차트 데이터...)에서는 시계열 데이터가 매우 중요

### 12-1. datetime 오브젝트(pg. 241~ 242)

datetime 라이브러리: 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리 
 - date 오브젝트: 날짜 처리
 - time 오브젝트: 시간 처리
 - datetime 오브젝트: 날짜와 시간을 모두 처리
등의 오브젝트들이 존재

#### datetime 오브젝트 사용하기

1. datetime 오브젝트를 사용하기 위해 datetime 라이브러리를 불러옴

In [1]:
from datetime import datetime

2. now, today 메서드를 사용 시 아래와 같이 현재 시간 출력 가능

In [2]:
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2023-04-05 15:07:04.303987
2023-04-05 15:07:04.305083

3. datetime 오브젝트 생성할 때 시간 직접 입력하여 인자로 전달한 것
> 각 변수를 출력하여 확인 시, 입력한 시간 바탕으로 datetime 오브젝트가 생성된 것 확인 가능

In [3]:
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1960, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2023-04-05 15:07:04.344147
1970-01-01 00:00:00
1960-12-12 13:24:34

4. datetime 오브젝트 사용 시, 시간 계산 가능

In [4]:
# 두 datetime 오브젝트의 차이 알 수 있는 예시

diff1 = t1 - t2

print(diff1)
print(type(diff1))

diff2 = t2 - t1

print(diff2)
print(type(diff2))

19452 days, 15:07:04.344147
<class 'datetime.timedelta'>
-19453 days, 8:52:55.655853
<class 'datetime.timedelta'>

### 12-2. 사례별 시계열 데이터 계산하기(pg.256~263)

#### 테슬라 주식 데이터로 시간 계산하기

- pandas-datareader 라이브러리로 주식 데이터 불러오기

In [5]:
!pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

1. get_data_quanal 메서드에 TSLA 문자열 전달 > 테슬라 주식 데이터 내려받기 & to_csv 메서드: data 폴더 안에 'tesIa_stock_quandl.csv' 
라는 이 름으로 저 장

In [7]:
import pandas as pd

pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla에는 데이터프레임이 저장됩니다.
#tesla = pdr.get_data_quandl('TSLA', api_key = '받은 key')
# tesla에 저장된 데이터프레임을 파일로 저장합니다 .
#tesla.to_csv('tesla_stock_quandl.csv')

tesla = pd.read_csv('/content/tesla_stock_quandl.csv')

2. teska 데이터프레임의 Date 열: 문자열 > datetime 오브젝트로 자료형 변환해야 시간 계산 가능

In [8]:
print(tesla.head( ))

         Date    Open    High     Low   Close    Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168           0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538           0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307           0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881           0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
0           1   304.00   304.27  277.18    279.18   13696168
1           1   307.34   307.59  291.36    304.18    8324639
2           1   311.25   311.61  300.45    301.54    6600538
3           1   313.89   318.82  308.18    309.10    4914307
4           1   310.25   322.44  310.19    316.53    5927881

3. Date 열을 Datetime 형으로 변환
: read_csv 메서드로 데이터 집합 불러올 때 parse_dates 인자에 Date 열 전달하기

In [9]:
tesla = pd.read_csv('/content/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   int64
 6   ExDividend  1949 non-null   int64
 7   SplitRatio  1949 non-null   int64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 198.1 KB
None

4. Date 열의 자료형이 datetime 오브젝트로 변환된 것을 확인할 수 있음 > dt 접근자 사용 가능

- 불린 추출로 2010.06 데이터만 추출한 식

In [10]:
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

           Date   Open     High    Low  Close    Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100           0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300           0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
1947           1    25.79  30.4192   23.30     23.83   17187100
1948           1    19.00  25.0000   17.54     23.89   18766300

### datetime 오브젝트와 인덱스 - DatetimeIndex

datetime 오브젝트를 데이터프레임의 인덱스로 설정 시, 원하는 시간의 데이터 바로 추출 가능

#### datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

1. Date 열을 tesla 데이터 프레임의 인덱스로 지정하기

In [11]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

2. datetime 오브젝트 인덱스로 지정했을 때, 원하는 시간의 데이터를 바로 추출하는 방법 - 2015년 데이터 추출하기

In [12]:
print(tesla['2015'].iloc[:5, :5])

                 Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57

<ipython-input-12-846783a4896c>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:5, :5])

3. 2010.06 의 데이터 추출하기

In [13]:
print(tesla['2010-06'].iloc[:, :5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-13-01bd23607ac5>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:, :5])

### 시간 간격과 인덱스 - TimedeltaIndex

- 시간 간격(ex.최초 5일간)을 인덱스로 지정하여 데이터 추출하기

#### 시간 간격을 인덱스로 지정해 데이터 추출하기

1. Date 열에서 Date 열의 최솟값(2010-06-29) 뺀 다음 ref_date 열로 추가하기

In [14]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close    Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168           0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538           0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307           0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881           0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume  \
Date
2018-03-27           1   304.00   304.27  277.18    279.18   13696168
2018-03-26           1   307.34   307.59  291.36    304.18    8324639
2018-03-23           1   311.25   311.61  300.45    301.54    6600538
2018-03-22           1   313.89   318.82  308.18    309.10    4914307
2018-03-21           1   310.25   322.44  310.19    316.53    5927881

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

2. ref_date열을 인덱스로 지정 > 시간 간격(ref_date) 이용하여 데이터 추출 가능해짐

In [15]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

3. 데이터를 수집한 이후 최초 5일의 데이터를 추출하기

In [16]:
print(tesla['5 days':].iloc[:5, :5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

### 시간 범위와 인덱스

특정 일에 누락된 데이터도 포함시켜 데이터를 살펴보기 > 임의로 시간 범위 생성하여 인덱스로 지정 필요

#### 시간 범위 생성해 인덱스로 지정하기

1. 에볼라 데이터 집합 살펴보기 - 2015.01.01. 데이터 누락 확인 가능

In [18]:
ebola = pd.read_csv('/content/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

2. 에볼라의 뒤쪽 데이터 : 2014.03.23 데이터 누락 확인 가능

In [19]:
print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

3. date_range 메서드 > 2014.12.31 ~ 2015.01.05 사이의 시간 인덱스 생성하기

In [22]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

4. ebola 데이터프레임의 앞쪽 5개의 데이터를 추출하여 새로운 데이터프레임 만들기 - Date 열 인덱스로 지정 > 3에서 생성한 시간 범위 인덱스로 지정

이때, Date 열을 인덱스로 먼저 지정하지 않을 시, 오류 발생

In [23]:
ebola_5 = ebola.head( ) 
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range) 
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

### 시간 범위의 주기 설정하기

시간 범위 인덱스로 지정 시, **DatetimeIndex** 자료형이 만들어짐

DatetimeIndex
- freq 속성 포함되어 있음 > freq 속성값 지정 시 시간 간격 조절하여 DatetimeIndex 생성 가능 

> freq 속성값으로 사용할 수 있는 시간 주기
: **Pg.263 참고!**