<a href="https://colab.research.google.com/github/Jihyun13579/ESAA/blob/main/ESAA_%EC%84%B8%EC%85%981_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**HW #10 (2022. 5. 27 (금) 9:30 AM 수업시간 전까지 제출) - 2129014 박지현**

1. 각자의 학번을 입학년도, 학과 코드, 그리고 학과내에서의 번호를 나누어서 출력하시오.
* 예시: 0029001의 경우 입학년도는 2000, 학과코드는 29, 학과내 번호는 001임.

In [ ]:
ID_Stu = '2129014'   #각자의 학번 입력한 것

1-1. 입학년도 출력

In [ ]:
Year = "20" + ID_Stu[0:2]
Year

'2021'

1-2.학과 코드 출력

In [ ]:
Depart = ID_Stu[2:4]
Depart

'29'

1-3.학과 내에서의 번호 출력

In [ ]:
Num = ID_Stu[4:]
Num

'014'

2. 1의 결과를 StudentID라는 이름의 딕셔너리로 만드시오. 단, 입학년도는 “year”, 학과코
드는 “department”, 학과내 번호는 “ID”로 표시.
* 예시: “year”는 2000, “department”는 29, “ID”는 001

In [ ]:
StudentID = {'year': Year, 'department': Depart, 'ID': Num}
StudentID

{'year': '2021', 'department': '29', 'ID': '014'}

3. 2에서 만든 딕셔너리 StudentID에서 “department”에 해당하는 값을 추출하시오.

In [ ]:
StudentID.get('department')

'29'

4.자연수 13과 14가 각각 소수인지를 python을 이용하여 판별해 보시오.

4-1. a = 13, 즉 자연수 13의 경우

In [ ]:
a = 13
i = 2
k = list()
for i in range(2,a):
  num=0
  num = a%i
  k.append(num)

if 0 in k:
  print("%d은 소수가 아닙니다." % a)
else:
   print("%d은 소수입니다." % a)

13은 소수입니다.

4-1. b = 14, 즉 자연수 14의 경우

In [ ]:
b = 14
i = 2
k = list()
for i in range(2,b):
  num=0
  num = b%i
  k.append(num)

if 0 in k:
  print("%d은 소수가 아닙니다." % b)
else:
   print("%d은 소수입니다." % b)

14은 소수가 아닙니다.

5. [‘A’,’C’,’D’,’E’,’H’,’G’,’B’,’F’] 리스트를 ‘ABCDEFGH’ 문자열로 만들어서 출력해 보시오.

In [ ]:
a = ['A','C','D','E','H','G','B','F']
a.sort()
"".join(a)

'ABCDEFGH'